<div class="rasporediUnutra">

    <% if (oglas.vesMasina === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="vesMasina" <%= oglas.vesMasina ? "checked" : "" %> onclick="return false;">
            <label>Ves masina</label>
    </div>
    <% } %>

    <% if (oglas.zamrzivac === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="zamrzivac" <%= oglas.zamrzivac ? "checked" : "" %> onclick="return false;">
            <label>Zamrzivac</label>
        </div>
    <% } %>
    
    <% if (oglas.frizider === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="frizider" <%= oglas.frizider ? "checked" : "" %> onclick="return false;">
            <label>Frizider</label>
        </div>
    <% } %>

    <% if (oglas.friziderSaZamrzivacem === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="friziderSaZamrzivacem" <%= oglas.friziderSaZamrzivacem ? "checked" : "" %> onclick="return false;">
            <label>Frizider sa zamrzivacem</label>
        </div>
    <% } %>

    <% if (oglas.sporet === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="sporet" <%= oglas.sporet ? "checked" : "" %> onclick="return false;">
            <label>Sporet</label>
        </div>
    <% } %>

    <% if (oglas.mikrotalasna === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="mikrotalasna"  <%= oglas.mikrotalasna ? "checked" : "" %> onclick="return false;">
            <label>Mikrotalasna</label>
        </div>
    <% } %>

    <% if (oglas.kada === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="kada" <%= oglas.kada ? "checked" : "" %> onclick="return false;">
            <label>Kada</label>
        </div>
    <% } %>

    <% if (oglas.tusKabina === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="tusKabina" <%= oglas.tusKabina ? "checked" : "" %> onclick="return false;">
            <label>Tus kabina</label>
        </div>
    <% } %>

    <% if (oglas.klima === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="klima" <%= oglas.klima ? "checked" : "" %> onclick="return false;">
            <label>Klima</label>
        </div>
    <% } %>

    <% if (oglas.tv === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="tv" <%= oglas.tv ? "checked" : "" %> onclick="return false;">
            <label>Tv</label>
        </div>
    <% } %>

    <% if (oglas.sank === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="sank" <%= oglas.sank ? "checked" : "" %> onclick="return false;">
            <label>Sank</label>
        </div>
    <% } %>

    <% if (oglas.terasa === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="terasa" <%= oglas.terasa ? "checked" : "" %> onclick="return false;">
            <label>Terasa</label>
        </div>
    <% } %>

    <% if (oglas.usisivac === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="usisivac" <%= oglas.usisivac ? "checked" : "" %> onclick="return false;">
            <label>Usisivac</label>
        </div>
    <% } %>

    <% if (oglas.aspirator === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="aspirator" <%= oglas.aspirator ? "checked" : "" %> onclick="return false;">
            <label>Aspirator</label>
        </div>
    <% } %>

    <% if (oglas.mikser === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="mikser" <%= oglas.mikser ? "checked" : "" %> onclick="return false;">
            <label>Mikser</label>
        </div>
    <% } %>

    <% if (oglas.escajg === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="escajg" <%= oglas.escajg ? "checked" : "" %> onclick="return false;">
            <label>Escajg</label>
        </div>
    <% } %>

    <% if (oglas.posudje === true) { %>
        <div class="maliDiv">
            <input type="checkbox" name="posudje" <%= oglas.posudje ? "checked" : "" %> onclick="return false;">
            <label>Posudje</label>
        </div>
    <% } %>
</div>