
<div class="rasporediUnutra">

    
        <div class="maliDiv">
            <input type="checkbox" name="vesMasina" <%= oglas.vesMasina ? "checked" : "" %> >
            <label>Ves masina</label>
    </div>
    

    
        <div class="maliDiv">
            <input type="checkbox" name="zamrzivac" <%= oglas.zamrzivac ? "checked" : "" %> >
            <label>Zamrzivac</label>
        </div>
    
    
    
        <div class="maliDiv">
            <input type="checkbox" name="frizider" <%= oglas.frizider ? "checked" : "" %> >
            <label>Frizider</label>
        </div>
    

    
        <div class="maliDiv">
            <input type="checkbox" name="friziderSaZamrzivacem" <%= oglas.friziderSaZamrzivacem ? "checked" : "" %> >
            <label>Frizider sa zamrzivacem</label>
        </div>
    

    
        <div class="maliDiv">
            <input type="checkbox" name="sporet" <%= oglas.sporet ? "checked" : "" %> >
            <label>Sporet</label>
        </div>
    

    
        <div class="maliDiv">
            <input type="checkbox" name="mikrotalasna"  <%= oglas.mikrotalasna ? "checked" : "" %> >
            <label>Mikrotalasna</label>
        </div>
    

    
        <div class="maliDiv">
            <input type="checkbox" name="kada" <%= oglas.kada ? "checked" : "" %> >
            <label>Kada</label>
        </div>
    

  
        <div class="maliDiv">
            <input type="checkbox" name="tusKabina" <%= oglas.tusKabina ? "checked" : "" %> >
            <label>Tus kabina</label>
        </div>


        <div class="maliDiv">
            <input type="checkbox" name="klima" <%= oglas.klima ? "checked" : "" %> >
            <label>Klima</label>
        </div>
   


        <div class="maliDiv">
            <input type="checkbox" name="tv" <%= oglas.tv ? "checked" : "" %> >
            <label>Tv</label>
        </div>


        <div class="maliDiv">
            <input type="checkbox" name="sank" <%= oglas.sank ? "checked" : "" %> >
            <label>Sank</label>
        </div>


        <div class="maliDiv">
            <input type="checkbox" name="terasa" <%= oglas.terasa ? "checked" : "" %> >
            <label>Terasa</label>
        </div>


 
        <div class="maliDiv">
            <input type="checkbox" name="usisivac" <%= oglas.usisivac ? "checked" : "" %> >
            <label>Usisivac</label>
        </div>



        <div class="maliDiv">
            <input type="checkbox" name="aspirator" <%= oglas.aspirator ? "checked" : "" %> >
            <label>Aspirator</label>
        </div>



        <div class="maliDiv">
            <input type="checkbox" name="mikser" <%= oglas.mikser ? "checked" : "" %> >
            <label>Mikser</label>
        </div>
 

 
        <div class="maliDiv">
            <input type="checkbox" name="escajg" <%= oglas.escajg ? "checked" : "" %> >
            <label>Escajg</label>
        </div>
    
        <div class="maliDiv">
            <input type="checkbox" name="posudje" <%= oglas.posudje ? "checked" : "" %> >
            <label>Posudje</label>
        </div>
</div>